body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
img {
    width: 100px; /* or any other value like %, px, em */
    height: auto; /* maintains aspect ratio */
  }
  